#container {
    display: grid;
    /* grid-template-rows: repeat(16, 5px);
    grid-template-columns: repeat(16, 5px); */
    width: 500px;
    height: 500px;
    position: absolute;
    left: 500px;
    top: 100px;
    background: LightGray;
    border: 5px solid green;
}

.blue {
    background-color: blue;
}